nav {
    background-image: linear-gradient(to right, black,white);
    opacity: 70%;
    
}

#img {
    opacity: 90%;
    float: left;
    margin: 50px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.h1 {
    padding-top: 50px;
    color: #ffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 50px;
    padding-left: 50px;
    opacity: 90%;
}

#img2 {
    opacity: 90%;
    float: right;
    margin: 50px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
}

#img3 {
    opacity: 90%;
    float: right;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
} 

#img-p {
    padding: 50px;
    color: #ffff;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 2);
    font-size: 20px;
    padding-left: 100px;
    opacity: 90%;
}


body {
    background-image: linear-gradient(to right, black,white);
}

#red-nav {
    font-weight: 500;
    color: #ffff;
    
}

.padding {
    opacity: 70%;
    padding: 50px;
    bottom: 0;
}

div [class="btn btn-primary"] {
    background-color: #c91700;
}

.form-group {
    opacity: 93%;
    font-size: 20px;
    color: #ffff;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.6);
}

.contact-p {
    opacity: 93%;
    font-size: 20px;
    margin: 100px;
    color: #ffff;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.6);
}

.contact-links {
    opacity: 75%;
    margin: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.contact-links ul li{
    color: #c91700;
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
    font-weight: 550;
    font-size: 30px;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.6);
}

.contact-links ul li a {
    color: #c91700;
    list-style: none;
    cursor: pointer;
    font-weight: 550;
    font-size: 30px;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.6);
}

.card {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.display-4 {
    opacity: 85%;
    background: -webkit-linear-gradient(#c91700,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

}

.lead {
    opacity: 85%;
    color:black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-weight: 900;
}

[class="jumbotron jumbotron-fluid"] {
    background-image: linear-gradient(to right,black,#fff);
}

[class="btn btn-primary"]:hover {
    background: black;
}

.card-body {
    background: #c4c2c1;
}

@media only screen and (max-width: 950px) {

    .container {
        margin-bottom: 35%;
    }
} 