nav {
    background-image: linear-gradient(to right, black,white);
    opacity: 70%;
    
}

#img2 {
    opacity: 90%;
    float: right;
    margin: 100px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

body {
    background-image: linear-gradient(to right, black,white);
}

#red-nav {
    font-weight: 500;
    color: #ffff;
    
}

.padding {
    opacity: 70%;
    padding: 50px;
    bottom: 0;
}

div [class="btn btn-primary"] {
    background-color: #c91700;
}

.contact-p {
    opacity: 93%;
    font-size: 20px;
    margin: 100px;
    color: #ffff;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.6);
}

.contact-links{
    opacity: 65%;
    margin: 30px auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
    font-weight: 550;
}

.card {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.display-4 {
    opacity: 85%;
    background: -webkit-linear-gradient(#c91700,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

}

.lead {
    opacity: 85%;
    background: -webkit-linear-gradient(#c91700,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-weight: 900;
}

[class="jumbotron jumbotron-fluid"] {
    background-image: linear-gradient(to right,black,#fff);
}

[class="btn btn-primary"]:hover {
    background: black;
}

.card-body {
    background: #c4c2c1;
}

